<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  login
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">INICIAR SESION</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-danger btn-block" data-dismiss="modal" (click)="signInWithGoogle()">
              <i class="fa fa-google"></i>
              Iniciar con Google
            </button>
            <button class="btn btn-info btn-block" (click)="signInWithFB()">
              <i class="fa fa-facebook"></i>
              Iniciar con Facebook
            </button>
            <button class="btn btn-primary btn-block" data-dismiss="modal" (click)="signOut()">
              <i class="fa fa-sign-out"></i>
              Cerrar Sesión
            </button>
          </div>
          <div class="col-md-6" *ngIf="user">
            <img src="{{ user.photoUrl }}">
            <div>
              <h4>{{ user.name }}</h4>
              <p>{{ user.email }}</p>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
