<nav class="navbar navbar-expand navbar-dark bg-primary">
  <div class="container">
    <div class="nav navbar-nav d-flex align-content-start">
      <a class="nav-item nav-link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a class="nav-item nav-link" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a class="nav-item nav-link" href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>

    </div>
    <div class="d-flex align-content-start">
      <!-- <a class="nav-item nav-link text-light">(+51) 930 276 300</a> -->
     
      <li class="nav-item" routerLinkActive="active" *ngIf="user">
        <p class="nav-link nav-link text-light">{{user.name}}</p>
      </li>
    </div>
    <div class=" text-light d-flex align-content-end">
      <a class="nav-item nav-link text-light" ><app-login></app-login></a> |
      <a class="nav-item nav-link text-light">Sign Up</a> |
      <a class="nav-item nav-link text-light">EUR</a> |
      <a class="nav-item nav-link text-light">English</a>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand mr-5" href="#">GESTIONA-TOURS</a>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown d-flex align-content-start">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">TOURS</a>
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">DESTINATION</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="#">Action 1</a>
            <a class="dropdown-item" href="#">Action 2</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <i class="fa fa-shopping-basket mr-4 fa-2x" aria-hidden="true"></i>
        <button class="btn btn-danger my-2 my-sm-0" type="submit">Become Local Expert</button>
      </form>
    </div>
  </div>
</nav>
